/** MAIN **/

body {
    font-family: 'Lato', sans-serif;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}

a:hover {
    color: #88BE70;
}

body a {
    color: #88BE70;
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}

body a:hover {
    color: #609b46;
}

.main {
    padding-top: 60px;
}
/** HEADER **/

header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 10;
    background: #fff;
    overflow: hidden;
    text-align: right;
    border-bottom: 1px solid #f8f8f8;
}
/** NAV **/

#logo {
    float: left;
    padding: 0 35px;
    margin-bottom: 14px;
}

#logo img {
    float: left;
    padding: 0 5%;
    margin-bottom: 14px;
    height: 70px;
    width: auto;
}

.shifter-navigation ul,
header ul {
    list-style-type: none;
    color: #88BE70;
    text-transform: lowercase;
    font-variant: small-caps;
    font-size: 16px;
    letter-spacing: 1px;
}

header li:not(#logo) {
    vertical-align: -18px;
    padding-left: 40px;
}

header li:last-child {
    margin-right: 5%;
}

header nav {
    padding-bottom: 2px;
}

header ul {
    padding: 0;
    margin: 5px 0;
}

header ul li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: #333;
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}

nav a:hover {
    color: #88BE70;
}

.shifter-navigation ul li {
    margin: 20px 0;
}
/** EVENTS **/

.col-1{
    width: 125px;
    margin: 0;
    float: left;
}

.col-2{
    width: 290px;
    margin: 0;
    float: left;
}

.col-3{
    width: 60px;
    margin: 0;
    float: left;
}

.col-3 a{
    display: block;
    margin-top: 70px;
}

.event {
    margin-bottom: 40px;
    padding-bottom: 20px;
    clear: both;
    display: block;
    margin-left: 30px;
}

.event img {
    float: left;
    width: 100px;
    height: 100px;
    margin-top: 25px;
    margin-right: 30px;
}

.event h2 {
    padding-top: 20px;
    margin-bottom: 10px;
}

.event ul {
    width: 250px;
    list-style-type: none;
    margin-top: 0;
    padding-left: 0;
    float: left;
}

.event ul li {
    padding-bottom: 5px;
}

.event input {
    margin-left: 40px;
    margin-top: -10px;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: white;
    margin-bottom: 7px;
}

.count {
    
}

/** FORM **/

.basic-grey {
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    text-shadow: 1px 1px 1px #FFF;
    border: 1px solid #E4E4E4;
}

.basic-grey h1 {
    font-size: 25px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #E4E4E4;
    margin: -10px -15px 30px -10px;
    ;
    color: #888;
}

.basic-grey h1>span {
    display: block;
    font-size: 11px;
}

.basic-grey label {
    display: block;
    margin: 0px;
}

.basic-grey label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}

.basic-grey input[type="text"],
.basic-grey input[type="email"],
.basic-grey textarea,
.basic-grey select {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 12px;
    line-height: 15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}

.basic-grey textarea {
    padding: 5px 3px 3px 5px;
}

.basic-grey select {
    background: #FFF url('down-arrow.png') no-repeat right;
    background: #FFF url('down-arrow.png') no-repeat right);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    line-height: 25px;
}

.basic-grey textarea {
    height: 100px;
}

.basic-grey .button {
    background: #E27575;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
}

.basic-grey .button:hover {
    background: #CF7A7A
}

/** FOOTER **/

footer {
display: block;
  clear: both;
  margin: 40px 40px 20px 0px;
  float: right;
  text-transform: lowercase;
  font-variant: small-caps;
}

/** QUERIES **/

@media (max-width: 825px) {
    header li:not(#logo) {
        display: none;
    }
}